{% extends 'base.html' %}
{% block title %}Профайл пользователя {{ author.get_full_name }}{% endblock %}
{%block content%}       
  <h1>Все посты пользователя {{ author.get_full_name }}</h1>
  <h3>Всего постов: {{ author.posts.count }}</h3>   
  {% for post in page_obj %}
    <ul>
      {% comment %} <li>
        Автор: {{ post.author.get_full_name }}   судя по образцовому шаблону проекта - этого на этой страние быть не должно
      </li> {% endcomment %}
      <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
    <p>{{ post }}</p>
    <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
    <br>
    {% if post.group %}
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% endif %}
    {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include paginator %}
{% endblock %}